apturl==0.5.2
asgiref==3.5.0


Django==4.0.4
django-admin-interface==0.20.0
django-ckeditor==6.5.0
django-colorfield==0.7.2


djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0



mysqlclient==2.1.0

Pillow==9.1.1




virtualenv==20.14.1
